.SectionPage-background {
  padding: 3.75rem 0 3.75rem 0;
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 1rem;
  align-content: flex-start;
}

.SectionPage-B1 {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 1rem;
  align-content: flex-start;
}

.SectionPage-B1B1 {
  display: flex;
  position: relative;
}

.SectionPage-img-1 {
  height: 9rem;
  width: 100%;
  object-fit: cover;
}

.SectionPage-B1B1B1 {
  width: calc(100% - 3rem);
  margin: 0.7rem 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}

.SectionPage-svg-1 {
  background-color: rgb(230, 230, 230);
  padding: 0.4rem;
  border-radius: 50%;
  cursor: pointer;
}

.SectionPage-svg-2 {
  background-color: rgb(230, 230, 230);
  padding: 0.2rem;
  border-radius: 50%;
  cursor: pointer;
}

.SectionPage-B1B2 {
  width: calc(100% - 3rem);
  padding: 0 1.5rem 0 1.5rem;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 0.65rem;
  justify-content: flex-start;
}

.SectionPage-img-2 {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.13);
}

.SectionPage-B1B2B1 {
  display: grid;
  grid-auto-flow: row;
}

.SectionPage-txt-1 {
  margin: 0;
  font-size: 1.45rem;
  font-weight: 800;
  color: black;
  text-align: left;
}

.SectionPage-txt-2 {
  margin: 0;
  font-size: 0.75rem;
  font-weight: 500;
  color: black;
  text-align: left;
  line-height: 1.45rem;
}

.SectionPage-B1B3 {
  width: calc(100% - 3rem);
  padding: 1rem 1.5rem;
  border-top: 0.05rem solid rgb(128, 128, 128, 0.2);
  border-bottom: 0.05rem solid rgb(128, 128, 128, 0.2);
  overflow-y: hidden;
  overflow-x: auto;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 1.5rem;
  justify-content: flex-start;
}

.TitulosArray-background {
  width: fit-content;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.TitulosArray-txt-1 {
  min-width: max-content;
  margin: 0;
  font-size: 0.9rem;
  font-weight: 800;
  color: black;
}

.TitulosArray-svg-1 {
  display: none;
}

.SectionPage-B1B3::-webkit-scrollbar {
  display: none;
}

.SectionPage-B2 {
  width: calc(100% - 3rem);
  padding: 0 1.5rem 0 1.5rem;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 2rem;
  align-content: flex-start;
}

.SectionPage-B2B1 {
  display: none;
}

.SectionPage-txt-3 {
  margin: 0;
  font-size: 0.75rem;
  font-weight: 500;
  color: gray;
}

.pointer {
  cursor: pointer;
}

@media (max-width: 360px) {
}

@media (min-width: 648px) {
}

@media (min-width: 1024px) {
  .SectionPage-background {
    grid-template-columns: 15.7rem auto;
  }

  .SectionPage-B1 {
    border-right: 0.05rem solid rgb(128, 128, 128, 0.2);
  }

  .SectionPage-B1B2 {
    width: calc(auto - 3rem);
    grid-auto-flow: row;
    grid-row-gap: 0.7rem;
  }

  .SectionPage-img-2 {
    margin: -2.3rem 0 0 0;
    height: 3.5rem;
    width: 3.5rem;
    z-index: 1;
  }

  .SectionPage-B2 {
    padding: 1rem 1.5rem 0 1.5rem;
  }

  .SectionPage-B2B1 {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 0.4rem;
    justify-content: flex-start;
    align-items: center;
  }

  .SectionPage-B1B3 {
    grid-auto-flow: row;
    grid-row-gap: 1.5rem;
    justify-content: stretch;
  }

  .TitulosArray-background {
    width: 100%;
  }

  .TitulosArray-svg-1 {
    display: block;
  }
}
