.SectionPage-background {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}

.SectionPage-content {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 12vh auto;
  padding: 0 0 4vh 0;
}

.SectionPage-C-B1 {
  background-color: none;
}

.SectionPage-C-B2 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  align-content: flex-start;
  justify-items: center;
}

.SectionPage-C-B2B1 {
  height: auto;
  width: 100%;
  border-bottom: 0.2vh solid rgb(128, 128, 128, 0.2);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-row-gap: 3vh;
  padding: 0 0 3vh 0;
  align-content: flex-start;
  justify-items: center;
}

.SectionPage-C-B2B1B1 {
  height: 22vh;
  width: 100%;
  position: relative;
}

.SectionPage-img-1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.SectionPage-C-B2B1B1B1 {
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 3vh;
  left: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SectionPage-svg-1 {
  height: 2.5vh;
  width: auto;
  fill: rgb(44, 44, 44);
  background-color: whitesmoke;
  border-radius: 50%;
  padding: 1vh;
}

.SectionPage-svg-4 {
  height: 2.5vh;
  width: auto;
  fill: white;
  background-color: rgb(44, 44, 44);
  border-radius: 50%;
  padding: 0.5vh;
  box-shadow: 0px 3px 5px 0px rgba(64, 64, 64, 0.5);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(64, 64, 64, 0.5);
  -moz-box-shadow: 0px 3px 5px 0px rgba(64, 64, 64, 0.5);
  vertical-align: top;
  border: 0.5vh solid white;
  position: absolute;
  top: 3vh;
  right: 5%;
}

.SectionPage-C-B2B1B2 {
  height: auto;
  width: 90%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-column-gap: 2vh;
  justify-content: flex-start;
}

.SectionPage-img-0 {
  height: 5vh;
  width: auto;
  border-radius: 50%;
}

.SectionPage-C-B2B1B2B1 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  align-content: space-between;
}

.SectionPage-txt-1 {
  margin: 0;
  font-size: 5vw;
  font-weight: 700;
  color: black;
  line-height: 100%;
}

.SectionPage-txt-2 {
  margin: 0;
  font-size: 3vw;
  font-weight: 400;
  color: black;
  line-height: 100%;
}

.SectionPage-C-B2B1B3 {
  height: auto;
  width: 90%;
  border: 0.2vh solid rgb(128, 128, 128, 0.2);
  border-radius: 3vh;
  box-shadow: 0px 5px 5px 0px rgba(64, 64, 64, 0.05);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(64, 64, 64, 0.05);
  -moz-box-shadow: 0px 5px 5px 0px rgba(64, 64, 64, 0.05);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.SectionPage-C-B2B1B3B1 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 1vh;
  padding: 2.5vmax 1vmax 2.5vmax 1vmax;
}

.SectionPage-C-B2B1B3B1B1 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-content: space-around;
  align-items: center;
}

.SectionPage-txt-3 {
  margin: 0;
  font-size: 80%;
  font-weight: 600;
  color: gray;
  text-align: center;
}

.SectionPage-txt-3-1 {
  color: black;
  font-weight: 700;
}

.SectionPage-svg-2 {
  height: 2vh;
  width: auto;
  fill: gray;
}

.SectionPage-C-B2B1B3B1B2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.SectionPage-txt-4 {
  margin: 0;
  font-size: 80%;
  font-weight: 800;
  color: black;
  text-align: center;
}

.SectionPage-C-B2B1B3B2 {
  background-color: #fff2e5;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 1vh;
  padding: 2.5vmax 1vmax 2.5vmax 1vmax;
  justify-content: center;
  align-items: center;
}

.SectionPage-C-B2B1B3B2B1 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-content: space-around;
  align-items: center;
}

.SectionPage-svg-3 {
  height: 2vh;
  width: auto;
  fill: #ffae00;
}

.SectionPage-C-B2B1B3B3 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 1vh;
  padding: 2.5vmax 1vmax 2.5vmax 1vmax;
  justify-content: center;
  align-items: center;
}

.SectionPage-txt-5 {
  margin: 0;
  font-size: 80%;
  font-weight: 800;
  color: black;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.SectionPage-C-B2B2 {
  height: auto;
  width: 90%;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: auto;
}

/*SectionPagedbProducts*/

.SectionPagedbProducts-background {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-column-gap: 2vh;
  align-items: center;
  justify-content: space-between;
  padding: 3vh 0 3vh 0;
  border-bottom: 0.2vh solid rgb(128, 128, 128, 0.1);
}

.SectionPagedbProducts-background-notdisplayed {
  display: none;
}

.SectionPagedbProducts-B1 {
  height: 14vh;
  width: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  align-content: space-between;
  transition: 0.3s;
}

.SectionPagedbProducts-txt-1 {
  margin: 0;
  font-size: 4vw;
  font-weight: 600;
  color: black;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.SectionPagedbProducts-txt-2 {
  margin: 0;
  font-size: 3.5vw;
  font-weight: 500;
  color: gray;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.SectionPagedbProducts-txt-3 {
  margin: 0;
  font-size: 4vw;
  font-weight: 800;
  color: black;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.SectionPagedbProducts-B2 {
  height: 14vh;
  width: 14vh;
  border-radius: 3vh;
}

.SectionPagedbProducts-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 3vh;
  border: 0.1vh solid rgb(255, 255, 255, 0.3);
  box-shadow: 0px 5px 5px 0px rgba(64, 64, 64, 0.3);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(64, 64, 64, 0.3);
  -moz-box-shadow: 0px 5px 5px 0px rgba(64, 64, 64, 0.3);
}

/*SectionPagedbProducts_Loader*/

.SectionPagedbProducts_Loader-background {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-column-gap: 2vh;
  align-items: center;
  justify-content: space-between;
  padding: 3vh 0 3vh 0;
  border-bottom: 0.2vh solid rgb(128, 128, 128, 0.1);
}

.SectionPagedbProducts_Loader-background-notdisplayed {
  display: none;
}

.SectionPagedbProducts_Loader-B1 {
  height: 14vh;
  width: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  align-content: space-between;
}

.SectionPagedbProducts_Loader-B1B1 {
  height: 3vh;
  width: 35vw;
  border-radius: 1vh;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(0, 0%, 75%);
  }

  100% {
    background-color: hsl(0, 0%, 95%);
  }
}

.SectionPagedbProducts_Loader-B1B2 {
  height: 6vh;
  width: 50vw;
  border-radius: 1vh;
  animation: skeleton-loading 1s linear infinite alternate;
}

.SectionPagedbProducts_Loader-B1B3 {
  height: 3vh;
  width: 25vw;
  border-radius: 1vh;
  animation: skeleton-loading 1s linear infinite alternate;
}

.SectionPagedbProducts_Loader-B2 {
  height: 14vh;
  width: 14vh;
  border-radius: 3vh;
  animation: skeleton-loading 1s linear infinite alternate;
}

/*RenderOfSectionPageTop*/

.RenderOfSectionPageTop-background {
  height: 18vh;
  width: 100%;
  position: fixed;
  top: 12vh;
  left: -1;
  z-index: 0;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 60% 40%;
  align-content: flex-start;
  animation: RenderOfSectionPageTop-background-animation 0.3s;
  box-shadow: 0px 5px 5px 0px rgba(64, 64, 64, 0.05);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(64, 64, 64, 0.05);
  -moz-box-shadow: 0px 5px 5px 0px rgba(64, 64, 64, 0.05);
}

@keyframes RenderOfSectionPageTop-background-animation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.RenderOfSectionPageTop-B1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.RenderOfSectionPageTop-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.RenderOfSectionPageTop-B1B1 {
  background-color: rgb(0, 0, 0, 0.4);
  backdrop-filter: blur(7px);
  height: 100%;
  width: 90%;
  position: absolute;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0 5% 0 5%;
}

.RenderOfSectionPageTop-B1B1B1 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-column-gap: 2vh;
  justify-content: flex-start;
  align-items: center;
}

.RenderOfSectionPageTop-B1B1B1B1 {
  height: fit-content;
  width: fit-content;
  border-radius: 50%;
}

.RenderOfSectionPageTop-svg-1 {
  height: 2.5vh;
  width: auto;
  fill: black;
  background-color: white;
  border-radius: 50%;
  padding: 1vh;
  box-shadow: 0px 3px 5px 0px rgba(64, 64, 64, 0.5);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(64, 64, 64, 0.5);
  -moz-box-shadow: 0px 3px 5px 0px rgba(64, 64, 64, 0.5);
  vertical-align: top;
}

.RenderOfSectionPageTop-txt-1 {
  margin: 0;
  font-size: 4.5vw;
  font-weight: 800;
  color: white;
}

.RenderOfSectionPageTop-B1B1B2 {
  height: fit-content;
  width: fit-content;
  border-radius: 50%;
}

.RenderOfSectionPageTop-svg-2 {
  height: 2.5vh;
  width: auto;
  fill: white;
  background-color: rgb(44, 44, 44);
  border-radius: 50%;
  padding: 0.5vh;
  box-shadow: 0px 3px 5px 0px rgba(64, 64, 64, 0.5);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(64, 64, 64, 0.5);
  -moz-box-shadow: 0px 3px 5px 0px rgba(64, 64, 64, 0.5);
  vertical-align: top;
  border: 0.5vh solid white;
}

.RenderOfSectionPageTop-B2 {
  background-color: white;
  border-bottom: 0.2vh solid rgb(128, 128, 128, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3px;
}

.RenderOfSectionPageTop-B2B1 {
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.RenderOfSectionPageTop-txt-2 {
  margin: 0;
  font-size: 4vw;
  font-weight: 800;
  color: #2796ff;
  position: relative;
}

.RenderOfSectionPageTop-txt-2::after {
  content: "";
  height: 3px;
  width: 100%;
  background-color: #2796ff;
  position: absolute;
  bottom: -0.5vh;
  left: 0;
  border-radius: 0.2vh;
}

/*CalificationLoader*/

.CalificationLoader-background {
  height: 2.3vh;
  width: 100%;
  animation: skeleton-loading 1s linear infinite alternate;
  border-radius: 5vh;
}
