.SectionPage-background {
  padding: 3.75rem 0 3.75rem 0;
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 4rem;
  align-content: flex-start;
}

.SectionPage-B1 {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 1.3rem;
  align-content: flex-start;
}

.SectionPage-B1B1 {
  display: flex;
  position: relative;
}

.SectionPage-img-1 {
  height: 9rem;
  width: 100%;
  object-fit: cover;
}

.SectionPage-B1B1B1 {
  width: calc(100% - 3rem);
  margin: 0.7rem 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}

.SectionPage-svg-1 {
  background-color: rgb(230, 230, 230);
  padding: 0.4rem;
  border-radius: 50%;
  cursor: pointer;
}

.SectionPage-svg-2 {
  background-color: rgb(230, 230, 230);
  padding: 0.2rem;
  border-radius: 50%;
  cursor: pointer;
}

.SectionPage-B1B2 {
  width: calc(auto - 5.7rem);
  margin: 0rem 1.5rem 0rem 4.2rem;
  position: relative;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 0.6rem;
}

.SectionPage-img-2 {
  margin: -0.3rem 0 0 calc(-4.2rem - -1.5rem);
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.13);
}

.SectionPage-txt-1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 800;
  color: black;
  text-align: left;
  line-height: 100%;
}

.SectionPage-txt-2 {
  margin: 0;
  font-size: 0.75rem;
  font-weight: 500;
  color: black;
  text-align: left;
  line-height: 100%;
}

.SectionPage-B1B3 {
  border: 0.05rem solid rgb(128, 128, 128, 0.2);
  border-radius: 1rem;
  height: 3rem;
  margin: 0 1.5rem;
}

.SectionPage-B2 {
  height: 10rem;
  background-color: lightblue;
}

@media (max-width: 360px) {
}

@media (min-width: 648px) {
}

@media (min-width: 1024px) {
  .SectionPage-background {
    grid-template-columns: 15.7rem auto;
  }

  .SectionPage-B1 {
    border-right: 0.05rem solid rgb(128, 128, 128, 0.2);
  }

  .SectionPage-B1B2 {
    width: calc(auto - 3rem);
    margin: 2rem 1.5rem 0rem 1.5rem;
  }

  .SectionPage-img-2 {
    margin: -4.3rem 0 0 0;
    height: 3.5rem;
    width: 3.5rem;
  }
}
