.Explorer-background {
  height: fit-content;
  width: calc(100% - 3rem);
  padding: 0 1.5rem 0 1.5rem;
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 2rem;
}

.Explorer-B1 {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 0.5rem;
  overflow-y: hidden;
  overflow-x: auto;
  justify-content: flex-start;
}

.Explorer-B1::-webkit-scrollbar {
  display: none;
}

/*ExplorerMobile*/

.ExplorerMobile-B1 {
  height: 3.3rem;
  width: 4.5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 9px 10px -5px rgba(64, 64, 64, 0.25);
  -webkit-box-shadow: 0px 9px 10px -5px rgba(64, 64, 64, 0.25);
  -moz-box-shadow: 0px 9px 10px -5px rgba(64, 64, 64, 0.25);
}

.ExplorerMobile-B1B1 {
  display: grid;
  grid-template-rows: auto auto;
  align-content: flex-start;
  justify-items: center;
}

.ExplorerMobile-svg-1 {
  background-color: #2796ff;
  border-radius: 50%;
  padding: 0.3rem;
}

.ExplorerMobile-txt-1 {
  margin: 0;
  color: #2796ff;
  font-size: 0.8rem;
  font-weight: 700;
}

/*ExplorerProductsFromDB*/

.ExplorerProductsFromDB-background {
  height: fit-content;
  width: min-content;
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 0.1rem;
  cursor: pointer;
}

.ExplorerProductsFromDB-B1 {
  height: 3.3rem;
  width: 4.5rem;
  border: 0.13rem solid transparent;
  border-radius: 1.13rem;
  position: relative;
}

.ExplorerProductsFromDB-B1-selected {
  border: 0.13rem solid #2796ff;
}

.ExplorerProductsFromDB-img-1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.ExplorerProductsFromDB-img-1-selected {
  opacity: 0.2;
}

.ExplorerProductsFromDB-svg-1 {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
}

.ExplorerProductsFromDB-txt-1 {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  color: rgb(94, 94, 94);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 0.13rem 0 0.13rem;
}

.ExplorerProductsFromDB-txt-1-selected {
  color: #2796ff;
  font-weight: 700;
}

/*ExplorerLoader*/

.ExplorerLoader-background {
  height: fit-content;
  width: min-content;
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 0.3rem;
}

.ExplorerLoader-B1 {
  height: 3.3rem;
  width: 4.5rem;
  border: 0.13rem solid transparent;
  border-radius: 1.13rem;
  animation: skeleton-loading 1s linear infinite alternate;
}

.ExplorerLoader-B2 {
  height: 0.9rem;
  border-radius: 0.3rem;
  animation: skeleton-loading 1s linear infinite alternate;
}

@media (min-width: 1024px) {
  .Explorer-B1::-webkit-scrollbar {
    display: block;
    height: 0.5rem;
  }

  .Explorer-B1::-webkit-scrollbar-track {
    background-color: gainsboro;
  }

  .Explorer-B1::-webkit-scrollbar-thumb {
    background-color: rgb(170, 170, 170);
    border-radius: 1rem;
  }
}
