.Result-background {
  height: 100%;
  width: 100%;
  background-color: rgb(44, 44, 44, 0.5);
  position: fixed;
  top: 12vh;
  left: 0;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content auto;
  align-content: flex-start;
  z-index: 1;
}

.Result-content {
  height: auto;
  width: 100%;
  background-color: white;
  animation: Result-content-animation 0.5s;
  border-radius: 0 0 3vh 3vh;
  padding: 0 0 4vh 0;
}

@keyframes Result-content-animation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.Result-content-out {
  height: 100vh;
  width: 100%;
}

/*RenderOfInitialState*/

.RenderOfInitialState-background {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  align-content: flex-start;
  grid-row-gap: 4vh;
}

.RenderOfInitialState-B1 {
  border-top: 0.2vh solid rgb(128, 128, 128, 0.2);
  border-bottom: 0.2vh solid rgb(128, 128, 128, 0.2);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 5vh;
  padding: 0 5% 0 5%;
}
.RenderOfInitialState-txt-1 {
  margin: 0;
  font-size: 4vw;
  font-weight: 700;
  color: black;
}

.RenderOfInitialState-B2 {
  padding: 0 5% 0 5%;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  grid-template-columns: auto;
  grid-row-gap: 2vh;
}

/*RenderOfFinalState*/

.RenderOfFinalState-background {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  align-content: flex-start;
  grid-row-gap: 4vh;
}

.RenderOfFinalState-B1 {
  border-top: 0.2vh solid rgb(128, 128, 128, 0.2);
  border-bottom: 0.2vh solid rgb(128, 128, 128, 0.2);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 5vh;
  padding: 0 5% 0 5%;
}
.RenderOfFinalState-txt-1 {
  margin: 0;
  font-size: 4vw;
  font-weight: 700;
  color: black;
}

.RenderOfFinalState-B2 {
  padding: 0 5% 0 5%;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  grid-template-columns: auto;
  grid-row-gap: 2vh;
}

/*RenderOfResultdbProducts*/

.RenderOfResultdbProducts-background {
  height: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-column-gap: 2vh;
  align-items: center;
  justify-content: space-between;
}

.RenderOfResultdbProducts-B1 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-column-gap: 2vh;
  align-items: center;
  justify-content: flex-start;
}

.RenderOfResultdbProducts-txt-1 {
  margin: 0;
  font-size: 3vw;
  font-weight: 600;
  color: black;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.RenderOfResultdbProducts-img {
  height: 5vh;
  width: auto;
  border-radius: 1vh;
}

.RenderOfResultdbProducts-txt-2 {
  margin: 0;
  font-size: 3vw;
  font-weight: 500;
  color: black;
  background-color: gainsboro;
  border-radius: 0.5vh;
  padding: 0.2vh 0.7vh 0.2vh 0.7vh;
}

/*ResultLoader1*/

.ResultLoader1-background {
  height: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-column-gap: 2vh;
  align-items: center;
  justify-content: space-between;
}

.ResultLoader1-B1 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-column-gap: 2vh;
  align-items: center;
  justify-content: flex-start;
}

.ResultLoader1-B1B1 {
  animation: skeleton-loading 1s linear infinite alternate;
  height: 5vh;
  width: 5vh;
  border-radius: 1vh;
}

.ResultLoader1-B1B2 {
  animation: skeleton-loading 1s linear infinite alternate;
  height: 3vh;
  width: 40vw;
  border-radius: 1vh;
}

.ResultLoader1-B2 {
  animation: skeleton-loading 1s linear infinite alternate;
  height: 3vh;
  width: 25vw;
  border-radius: 1vh;
}
