.Result-background {
  height: 100%;
  width: 100%;
  background-color: rgb(44, 44, 44, 0.5);
  position: fixed;
  top: 12vh;
  left: 0;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content auto;
  align-content: flex-start;
}

.Result-content {
  height: auto;
  width: 90%;
  padding: 4vh 5% 4vh 5%;
  background-color: white;
  animation: Result-content-animation 0.5s;
  border-radius: 0 0 3vh 3vh;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  grid-template-columns: auto;
  grid-row-gap: 2vh;
}

@keyframes Result-content-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Result-content-out {
  height: 100vh;
  width: 100%;
}

/*RenderOfResultdbProducts*/

.RenderOfResultdbProducts-background {
  height: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-column-gap: 2vh;
  align-items: center;
  justify-content: space-between;
}

.RenderOfResultdbProducts-B1 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-column-gap: 2vh;
  align-items: center;
  justify-content: flex-start;
}

.RenderOfResultdbProducts-txt-1 {
  margin: 0;
  font-size: 3vw;
  font-weight: 600;
  color: black;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.RenderOfResultdbProducts-img {
  height: 5vh;
  width: auto;
  border-radius: 1vh;
}

.RenderOfResultdbProducts-txt-2 {
  margin: 0;
  font-size: 3vw;
  font-weight: 500;
  color: black;
  background-color: gainsboro;
  border-radius: 0.5vh;
  padding: 0.2vh 0.7vh 0.2vh 0.7vh;
}
