.Navbar-background {
  height: 12vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 2;
}

.Navbar-content {
  height: auto;
  width: 90%;
  display: grid;
  grid-template-columns: 4vh auto 4vh;
  grid-template-rows: auto;
  align-items: center;
  grid-column-gap: 4vh;
}

.Navbar-svg-1 {
  height: 3.5vh;
  width: auto;
  fill: rgb(64, 64, 64);
}
