html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

.NoScroll {
  /* when modal active */
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  /* Other browsers */
  overscroll-behavior: none;
  scroll-behavior: none;
  height: auto;
}

.NotDisplayed {
  display: none;
}

.NoClickEvent {
  pointer-events: none;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(0, 0%, 75%);
  }

  100% {
    background-color: hsl(0, 0%, 95%);
  }
}
