.HomePage-background {
  height: fit-content;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HomePage-content {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 12vh auto;
  padding: 0 0 4vh 0;
}

.HomePage-C-B1 {
  background-color: none;
}

.HomePage-C-B2 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  align-content: flex-start;
  justify-items: center;
  grid-row-gap: 6vh;
}

.HomePage-C-B2B1 {
  height: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  align-content: flex-start;
  grid-row-gap: 4vh;
}

.HomePage-C-B2B1B1 {
  background-color: whitesmoke;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vh 0 2vh 0;
}

.HomePage-C-B2B1B1B1 {
  height: auto;
  width: 90%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}

.HomePage-txt-1 {
  margin: 0;
  font-size: 7vw;
  font-weight: 700;
  color: #2796ff;
}

.HomePage-C-B2B1B1B1B1 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-content: flex-start;
  grid-column-gap: 1vh;
  align-items: center;
}

.HomePage-svg-1 {
  height: 2vh;
  width: auto;
  fill: rgba(64, 64, 64);
}

.HomePage-txt-2 {
  margin: 0;
  font-size: 3.5vw;
  font-weight: 500;
  color: rgba(64, 64, 64);
}

.HomePage-C-B2B2 {
  height: auto;
  width: 90%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-row-gap: 4vh;
}

.HomePage-C-B2B2B1 {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-row-gap: 2vh;
  align-content: flex-start;
}

.HomePage-C-B2B2B1B1 {
  height: 25vh;
}

.HomePage-img-1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 2vh;
}

.HomePage-C-B2B2B1B2 {
  height: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-content: space-between;
}

.HomePage-C-B2B2B1B2B1 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}

.HomePage-txt-3 {
  margin: 0;
  font-size: 5vw;
  font-weight: 700;
  color: black;
  text-align: left;
}

.HomePage-txt-4 {
  margin: 0;
  font-size: 3vw;
  font-weight: 400;
  color: black;
}

.HomePage-svg-2 {
  height: 2.5vh;
  width: auto;
  fill: black;
  background-color: whitesmoke;
  border-radius: 1vh;
  padding: 0.2vh 0.5vh 0.2vh 0.5vh;
  box-shadow: 0px 0px 5px 0px rgba(64, 64, 64, 0.15);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(64, 64, 64, 0.15);
  -moz-box-shadow: 0px 0px 5px 0px rgba(64, 64, 64, 0.15);
}
